test: off

clone_folder: c:\prj

build_script: 
    - ps: c:\prj\Build\build.ps1  -Target "Default-CI" -Verbosity Minimal

artifacts:
    - path: '**\packages\*.nupkg'

install:
	- cmd: nuget sources add -Name SubPointSolutions-Staging -Source https://www.myget.org/F/subpointsolutions-staging/api/v2